<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<div th:fragment="footerFragment" class="navbar-fixed-bottom">
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class = "col-sm-5 col-md-6">
      <a href="https://www.instagram.com/yoru.mu_/" class="text-uppercase text-reset">
        <i class="fab fa-instagram">Instagram</i>
      </a>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <a href="https://twitter.com/5xdlA4HS9DU7dm5" class="text-uppercase text-reset">
        <i class="fab fa-twitter">twitter</i>
      </a>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-3">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mb-3">
          <!-- Content -->
          <a href="/" class="text-uppercase text-reset fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>HOME
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mx-auto mb-3">
          <!-- Links -->
          <a href="/" class="text-uppercase text-reset fw-bold mb-4">
            ご利用にあたって
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mx-auto mb-3">
          <!-- Links -->
          <a href="/" class="text-uppercase text-reset fw-bold mb-4">
            よくある質問
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mx-auto mb-3">
          <!-- Links -->
          <a href="/" class="text-uppercase text-reset fw-bold mb-4">
            会社概要
          </a>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
  Copyright© seomu-camping 2022 All Rights Reserved
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</div>
</html>