<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Winスクール ジョブボード</title>
</head>
<body>
	<div layout:fragment="contents">

		<h2>求人情報</h2>

		<div class="row mb-3">
			<div class="col">
				<form action="/search" class="form-inline" method="get">
					<label class="mr-3"> 検索ワード <input type="text" name="word"
						th:value="${param.word}" class="form-control">
					</label> <label class="mr-3"> 都道府県 <select name="prefecture"
						class="form-control">
							<option></option>
							<option th:each="prefecture : ${prefectures}"
								th:value="${prefecture}" th:text="${prefecture}"
								th:selected="${#strings.equals(param.prefecture, prefecture)}">
							</option>
					</select>
					</label> <input type="submit" value="絞込" class="btn btn-primary mr-1">
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<table class="table">
					<thead>
						<h3>セオで転職活動を始めよう！</h3>
					</tbody>
				</table>
				<!-- START THE FEATURETTES -->

				<hr class="featurette-divider">



				<div class="container marketing">
					<div class="row featurette">
						<div class="col-md-7">
							<h2 class="featurette-heading">
								まずは自分で探してみたい <span class="text-muted">という方は</span>
							</h2>
							<p class="lead">あなたのこだわり条件で求人を探してみよう。
								毎週更新される特集や、月曜・木曜に更新される新着求人もかかさずチェック！</p>
						</div>
						<div class="col-md-5">
							<svg
								class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
								width="500" height="500" xmlns="http://www.w3.org/2000/svg"
								role="img" aria-label="Placeholder: 500x500"
								preserveAspectRatio="xMidYMid slice" focusable="false">
						<title>Placeholder</title><rect width="100%" height="100%"
									fill="#eee" />
						<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
						</div>
					</div>

					<hr class="featurette-divider">

					<div class="row featurette">
						<div class="col-md-7 order-md-2">
							<h2 class="featurette-heading">
								一人での転職活動は不安… <span class="text-muted">という方は</span>
							</h2>
							<p class="lead">エージェントサービスを利用して、あなたにぴったりの求人を紹介してもらおう。
								dodaの専門スタッフが非公開求人を含む約10万件の求人から、あなたに合った求人を紹介してくれます。</p>
						</div>
						<div class="col-md-5 order-md-1">
							<svg
								class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
								width="500" height="500" xmlns="http://www.w3.org/2000/svg"
								role="img" aria-label="Placeholder: 500x500"
								preserveAspectRatio="xMidYMid slice" focusable="false">
						<title>Placeholder</title><rect width="100%" height="100%"
									fill="#eee" />
						<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
						</div>
					</div>

					<hr class="featurette-divider">

					<div class="row featurette">
						<div class="col-md-7">
							<h2 class="featurette-heading">
								あまり転職活動の時間が とれない…<span class="text-muted">という方は</span>
							</h2>
							<p class="lead">スカウトサービスを活用して効率的に転職活動をしよう。
								あなたに興味を持った企業から直接オファーが届くので、スキマ時間にチェック！ 書類選考なしの面接確約オファーが届くことも。</p>
						</div>
						<div class="col-md-5">
							<svg
								class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
								width="500" height="500" xmlns="http://www.w3.org/2000/svg"
								role="img" aria-label="Placeholder: 500x500"
								preserveAspectRatio="xMidYMid slice" focusable="false">
						<title>Placeholder</title><rect width="100%" height="100%"
									fill="#eee" />
						<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
						</div>
					</div>
					<hr class="featurette-divider">

					<!-- /END THE FEATURETTES -->

				</div>
			</div>

		</div>
	</div>

</body>
</html>
