<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>セオ、フリーランス</title>
</head>
<body>

	<div layout:fragment="contents">

		<div class="container marketing ">

			<div class="main_wall shadow" id="movingPosition07">
				<div class="qa_area">
					<h2>
						<span>よくある質問</span>
					</h2>
					<p class="sub_txt read">エージェントサービスの疑問にお答えします</p>
					<div class="qa_box">
						<ul>
							<li class="first">
								<dl class="qu">
									<dt>Q</dt>
									<dd>キャリアについて相談したいけど、転職するかどうか迷っています。エージェントサービスに登録しても大丈夫でしょうか？</dd>
								</dl>
								<dl class="an">
									<dt>A</dt>
									<dd>
										転職するか決まっていなくても大丈夫です。<br>
										キャリアカウンセリングを受ける方の中には、まだ転職するか決めていないという人も多くいます。また、キャリアアドバイザーと話した結果、「今は転職しません」という判断をされる方もいらっしゃいますので、「転職を迷っている」「この先のキャリアを考えたい」という場合でもお気軽にご相談ください。
									</dd>
								</dl>
							</li>
							<li>
								<dl class="qu">
									<dt>Q</dt>
									<dd>キャリアカウンセリングではどこまで本音を話すべきか迷います</dd>
								</dl>
								<dl class="an">
									<dt>A</dt>
									<dd>
										キャリアアドバイザーはすべて本音をお話しいただくほうがありがたいと思っています。希望や疑問があれば小さなことでも遠慮せずにお話しください。本音のご相談について
									</dd>
								</dl>
							</li>
							<li>
								<dl class="qu">
									<dt>Q</dt>
									<dd>登録やキャリアカウンセリングは無料でも、求人を見るのにお金がかかるのでは？</dd>
								</dl>
								<dl class="an">
									<dt>A</dt>
									<dd>求人のご紹介、選考過程、内定、ご入社まですべて無料でご利用いただけますのでご安心ください。</dd>
								</dl>
							</li>
							<li>
								<dl class="qu">
									<dt>Q</dt>
									<dd>東京在住ですが関西で働きたいです。どのエリアのキャリアアドバイザーが担当になりますか？</dd>
								</dl>
								<dl class="an">
									<dt>A</dt>
									<dd>
										基本的には在住地ですが、他のエリアのキャリアアドバイザーが担当することもできます。キャリアカウンセリング予約時にご要望をお伝えください。もご覧ください。
									</dd>
								</dl>
							</li>
							<li>
								<dl class="qu">
									<dt>Q</dt>
									<dd>サイト上の求人に応募したらキャリアアドバイザーから連絡が来るのですか？</dd>
								</dl>
								<dl class="an">
									<dt>A</dt>
									<dd>［応募する（エージェントサービス）］と書かれた求人に応募すると、その企業を担当する採用プロジェクト担当からご連絡を差し上げます。</dd>
								</dl>
							</li>
							<li class="first">
								<dl class="qu">
									<dt>Q</dt>
									<dd>キャリアカウンセリング当日までに何を準備すべきですか？</dd>
								</dl>
								<dl class="an">
									<dt>A</dt>
									<dd>
										キャリアカウンセリング予約完了後にdodaからメールをお送りして職務経歴書の作成、事前アンケートの回答などをお願いしています。準備について詳しくはご覧ください。
									</dd>
								</dl>
							</li>
							<li>
								<dl class="qu">
									<dt>Q</dt>
									<dd>エージェントサービスに登録してもキャリアカウンセリングを受けられないことがありますか？</dd>
								</dl>
								<dl class="an">
									<dt>A</dt>
									<dd>
										ご登録いただいた職務経歴と要望事項を参照して、キャリアアドバイザーからご案内できる求人がない場合はキャリアカウンセリングが設定できないのでお待ちいただくことがあります。また、キャリアカウンセリングを受ける前に準備を進めたい方は
										で自己分析、職務経歴書の書き方や面接対策など、お悩み別に選べるセミナーも毎月開催しておりますのでご活用ください。</dd>
								</dl>
							</li>
							<li>
								<dl class="qu">
									<dt>Q</dt>
									<dd>以前エージェントサービスを利用しキャリアカウンセリングを受けていました。再度キャリアカウンセリングを受けて、転職について考えたいです。どうしたらよいでしょうか？</dd>
								</dl>
								<dl class="an">
									<dt>A</dt>
									<dd>
										再度キャリアカウンセリングをご希望の方は、まずご自身のdodaエージェントサービスご利用状況を確認する必要があります。<br>
										※キャリアカウンセリングのご案内は、求人要件の難易度やご本人の職務経歴などを総合的に判断した上でお声がけさせていただいております。
									</dd>
								</dl>
							</li>
							<li class="last">
								<dl class="qu">
									<dt>Q</dt>
									<dd>dodaエージェントサービス以外にも複数の転職エージェントに登録する予定でいます。並行して利用しても構いませんか？</dd>
								</dl>
								<dl class="an">
									<dt>A</dt>
									<dd>はい。複数社ご利用いただいて構いません。担当のキャリアアドバイザーに複数社の転職エージェントを利用している旨をお知らせいただければ、できる限り選考スケジュールを調整するなどの対応をいたします。</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
